<nav>
    <a href="#" class="nav-item is-active" data-active-color="orange" data-target="Home">Home</a>
    <a href="#" class="nav-item" data-active-color="green" data-target="About">A propos</a>
    <a href="#" class="nav-item" data-active-color="blue" data-target="Testimonials">Accès Menbres</a>
    <a href="#" class="nav-item" data-active-color="red" data-target="Blog">Programme</a>
    <a href="#" class="nav-item" data-active-color="rebeccapurple" data-target="Contact">Contact</a>
    <span class="nav-indicator"></span>
  </nav>